<form method="POST" action="/form">
  <header>
    <h1>Stat Form</h1>
    <h3>This is where you'll input all of your character's info</h3>
    <h3>You only get to put it in once. Seriously, you can't change it, so don't fuck it up</h3>
  </header>
  <p>What I just told you to copy:<input type="text" name="playerID"></p>
  <p>Your Character's Name:<input type="text" name="name"></p>
  <p>Your Character's Intellect:<input type="text" name="int"></p>
  <p>Your Character's Constitution:<input type="text" name="con"></p>
  <p>Your Character's Strength:<input type="text" name="str"></p>
  <p>Your Character's Dexterity:<input type="text" name="dex"></p>
  <p>Your Character's Wisdom:<input type="text" name="wis"></p>
  <p>Your Character's Charisma:<input type="text" name="cha"></p>
  <input type="submit">
</form>
